.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.program{
    -fx-fix-to-width: true;
    -fx-background-color: #202124;
}
.vbox{
    -fx-border-color: blue;
    -fx-padding: 10;
    -fx-alignment: top-center;
}
.hbox{
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-spacing: 10px;
    -fx-border-color: red;
}
.button{
}
.left{
    -fx-alignment: top-left;
}
.right{
    -fx-alignment: top-right;
}

Label{
    -fx-text-fill: #bdc1c6;
}