.program{
    -fx-border-color: blue;
    -fx-fix-to-width: true;
    -fx-background-color: #202124;
}
.header_buttons{
    -fx-spacing: 10px;
    -fx-border-color: red;
    -fx-fill-width: true;
}
.header_buttons Button{
}
.header_buttons .header_buttons_left{
    -fx-alignment: TOP_LEFT;
}
.header_buttons .header_buttons_right{
    -fx-alignment: TOP_RIGHT;
}